.toolbarStylee {
    text-align: center;
}

.backGroundStylee {
    color: white;
}

h1 {
    text-align: center;
}

.textFieldStylee {
    color: black;
}

.loginContentStylee {
    text-align: center;
}

label {
    display: block;
}

.textFieldContent {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}

.loginButtonStylee {
    margin-top: 5px;
    padding: 10px 16px;
    padding-top: 5px;
    display: inline-block;
    font-size: 16px;
}