<ion-header [translucent]="true" class="toolbarStylee">
    <ion-toolbar>
        <ion-title>
            Login
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="contentStyle">
        <div class="backGroundStylee">
            <h1> Bitte geben Sie Ihre Benutzernamen einen</h1>
        </div>
        <div class="errorStyle">
            {{errormsg}}
        </div>
        <div class="loginContentStylee">
            <div class="textFieldContent">
                <label>Email</label>
                <input #email type="text" placeholder="Deine Email-Adresse eingeben">
            </div>
            <div class="textFieldContent">
                <label>Passwort</label>
                <input #loginPassWord type="password" laceholder="Passwort eingeben">
            </div>
            <div>
                <ion-button (click)=" tryToLogin(email.value,loginPassWord.value) " class=" loginButtonStylee ">Login</ion-button>
            </div>
        </div>
    </div>

</ion-content>