<ion-header>
    <ion-toolbar>
        <div class="titleStyle">
            <ion-title>Neues Event erstellen</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contentStyle">
        <div class="borderStyle">
            <ion-item>
                <ion-label color="light">Anfangs Datum: </ion-label>
                <ion-datetime placeholder="Select Date" displayFormat="DD.MM.YYYY, HH:mm" [(ngModel)]="myDate">
                </ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label color="light">End Datum: (Optional*)</ion-label>
                <ion-datetime placeholder="Select Date" displayFormat="DD.MM.YYYY, HH:mm" [(ngModel)]="myDate">
                </ion-datetime>
            </ion-item>
        </div>
        <ion-item>
            <ion-label color="light ">Auftrag: (Optional*)</ion-label>
            <ion-input #halter type="Auftragsnummer" placeholder="Nummer des Auftrages"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="light ">Beschreibung: </ion-label>
            <ion-input #fin type="text" placeholder="Beschreibung des Events"></ion-input>
        </ion-item>
        <div class="buttonStyle">
            <ion-button>Evenet erstellen</ion-button>
        </div>
    </div>
</ion-content>