<ion-header [translucent]="true">
    <ion-toolbar>
        <div>
            <ion-title class="titleStyle">
                Services Rund ums Auto
            </ion-title>
        </div>
        <div>
            <ion-buttons class="menuButtonStyle">
                <ion-menu-button menu="main-menu"></ion-menu-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <ion-item>
            <ion-label>Services</ion-label>
            <ion-select>
                <ion-option>Bacon</ion-option>
                <ion-option>Black Olives</ion-option>
                <ion-option>Extra Cheese</ion-option>
                <ion-option>Mushrooms</ion-option>
                <ion-option>Pepperoni</ion-option>
                <ion-option>Sausage</ion-option>
            </ion-select>
        </ion-item>
    </div>
</ion-content>