<ion-header [translucent]="true">
    <ion-toolbar>
        <div>
            <ion-title class="titleStyle">
                Kunde
            </ion-title>
        </div>
        <div>
            <ion-buttons class="menuButtonStyle">
                <ion-menu-button menu="main-menu"></ion-menu-button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list class="au-form" inset padding class="itemContent">
        <div class="headerStyle">
            <h1>Kundennummer eingeben</h1>
        </div>
        <ion-item>
            <ion-input type="text" placeholder="Kundennummer"></ion-input>
            <button (click)="searchConsumer()">Suchen</button>
        </ion-item>
    </ion-list>

</ion-content>